* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/imgs/skyPicture.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}